

.card-main-content{
    display: flex;
    flex-direction: column;
    justify-items: center;
    row-gap: 0.8rem;
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right:auto;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.btn{
    position: relative;
    width: 50%;
    margin: auto;
}